<!-- Agregar mas adelante ña funcion de que dependiendo del usuario si es un usuario normal o un trabajador se le mueste un nav distinto -->
        
        <nav class="flex justify-between items-center gap-6 w-full relative px-4 py-2 bg-amber-600" style="background-color: #5F818C; ">
            <div class="flex items-center">
                <img src="logo.png" alt="Logo" class="h-16 w-auto" style="height: 64px; width: auto;">
            </div>
            <div class="flex items-center gap-4 relative z-50">
                @if (!authService.estaAutenticado()) {
                <button routerLink="/iniciar-sesion" class="px-4 py-2" style="color: #F8FAFA;">
                    <span class="text-sm font-medium">Iniciar sesión</span>
                </button>
                <button routerLink="/registro" class="px-4 py-2" style="color: #F8FAFA;">
                    <span class="text-sm font-medium">Registrarse</span>
                </button>
                }

                @if (authService.estaAutenticado()) {
                <button routerLink="/cuenta" class="px-4 py-2" style="color: #F8FAFA;">
                    <span class="text-sm font-medium">Cuenta</span>
                </button>
                <button class="px-4 py-2" style="color: #F8FAFA;" (click)="cerrarSesion()">
                    <span class="text-sm font-medium">Cerrar sesión</span>
                </button>
                }

                <button routerLink="/" class="px-4 py-2" style="color: #F8FAFA;">
                    <span class="text-sm font-medium">Inicio</span>
                </button>
            </div>
        </nav>
